@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;     
}

html {
    scroll-behavior: smooth;
    margin:0;
    overflow-x: hidden;
}
body
{
    position: relative;
    overflow-x: hidden;
}
#loader h1
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 500px;
    color:black;
    font-family: cursive;    

}
#loader
{
    position: fixed;
    width:100%;
    height:100vh;
    background:#fff url("https://i.pinimg.com/originals/ca/89/fb/ca89fbce5e5c68f46d5330946c58ddc6.gif") no-repeat center;
    background-size: cover;
    z-index: 99999;
}

::selection{
    background-color: yellow;
}
#cookies{

     max-height:400px;
     max-width:600px;
     /* border: 2px solid white; */
     border-radius: 20px;
     background-color: black;
     color:#fff;
     padding: 25px;
     position: fixed;
     left: 50%;
     top:50%;
     transform: translate(-50%,-50%);
     z-index: 22222;
     font-size: 1.5rem;
     font-family: 'Quicksand', sans-serif;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     box-shadow: 0 0 20px 10px rgba(255,255,255,0.7);
     display: none;     
     

}

#cookies h4{
    font-size: 1.6em;
    opacity: 1;
    text-transform: uppercase;
    
  
}

#cookies span{
    display: inline-block;
    border-bottom: 2px solid white;
    width: 100%;
}
#cookies p{

    font-size: 1.2em;
    text-transform: capitalize;
    word-spacing: 0.3rem;
    text-align: center;
    
}
#cookies #fr{
    position: absolute;
    top:4px;
    right:10px;
    cursor: pointer;
    color:#ffffff;
    
}

#cookies #fr:hover{
    color:rgba(255,255,255,0.5);
}

#cookies .cookbtn{
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #d63031;
    color: #ffffff;
    margin: 2px;
}
#cookies .cookbtn:hover{
    background-color: #ff7675;
}
.main-body{
    filter: blur(5px);
    
}

.header {
    height: 100vh;
    background:  linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../Image/pic4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    
}
.mainhead-super{
    height: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;   
}

#mainhead
{
    color:white;
    margin-top: 150px;
    margin-bottom:20px;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: bolder;

}

#mainhead h1{
    font-size: 3.5rem;
}
.mainhead2{
    color:#fff;
    margin:20px auto;
}

.SocialMedia{
    width: 100%;
    text-align: center;
   
}

.mango {
    
    color: white;
    margin:20px auto;
    font-size: 2rem;
    padding: 5px 10px;
    transition: all 10s ease-in;
    cursor: pointer;
    
}

.mango h1:hover {
    transform: scale(1.1);
    color: black;

}

#myNavbar{
    background: linear-gradient(300deg,#ff3f34,#B53471); 
    width: 100%;
}

.nav-link{
    text-transform: uppercase;
}

.Scrollbtn-main{
    position: relative;
    height: 130px;
    width: 130px;
    margin:0px auto;
    margin-top: -20px;
}
   

.Scrollbtn-main .Scrollbtn{
    
    position: absolute;
    height: 60px;
    width: 60px;
    top:20%;
    left:27%;
    border: 2px solid white; 
    transform: rotate(45deg);
    border-top:none;
    border-left: none;
    animation: animate 2s linear infinite;
    opacity: 0;
}
.Scrollbtn:nth-child(1){
    top:20%;
    animation-delay: 1s;
    
}
.Scrollbtn:nth-child(2)
{
   top:28%;
   animation-delay: 0.90s;
}
.Scrollbtn:nth-child(3){
    top:36%;
    animation-delay: 2s;
}
@keyframes animate{
    0%{
        top:20%;
        opacity: 1;
    }
    25%{
        top:26%;
        opacity: 1;
    }
   75%{
       top:28%;
       opacity: 1;
       
   }
   100%{
       top:36%;
       opacity: 0;
   }
}
/* Skills Section Css */
.container {

    width: 100%;
    margin: 0px auto;
    font-family: 'Josefin Sans', sans-serif;
   

}

.box {
    padding: 10px 10px;

}

.lined {
    font-weight: bolder;
    letter-spacing: 0.6rem;
    font-family: 'Poppins', sans-serif;


}

.lined-bottom {
    margin: 0 auto;
    border-bottom: 2px solid #2e86de;
    width: 20%;


}
.lined2{
    width: 15%;
}

.ml15{
    margin-left: auto;
}

.ptag{
    font-weight: bolder;
}




.animation{
    animation:move 2s ease-in-out forwards;
}
@keyframes move {
    from{
        width:0%;
    }
}

#skill2 img
{
    width: 25px;
    height:22px;
    filter: invert(100%);
    position: absolute;
    left:25%;
}
#Project2 img
{
    width:30px;
    height: 35px;
    filter: invert(100%);
    position: absolute;
    left:64%;
    top:30%;
}



.button {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    /* border: 1px solid #fff; */
    border-radius: 6px;
    padding: 15px 25px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease-in-out;
    text-transform: uppercase;
    background-color: black;
}

.btn2 {
    font-family: 'Times New Roman', Times, serif;
    border-radius: 20px;
    padding: 8px 15px;
    color: black;
    text-decoration: none;
    transition: 0.6s ease-in-out;
    text-transform: uppercase;
    background-color:white;
    /* position: absolute; */
    /* left: 22%; */
    font-size: 1.2rem;
    text-shadow: 2px 2px 15px white;
    position: relative;
    
}
.btn2::before
{
    position: absolute;
    content: "";
    top:0;
    left:0;
    /* background: #d35400; */
    height: 100%;
    width:100%;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0.9);
    transition: .5s;
}
.btn2:hover::before
{  
    filter: blur(3px);
   
}
.btn2:hover {
    /* background-color: blue; */
    color:blue;
    box-shadow: 0 0 15px #fff;
    text-shadow: 0 0 15px #fff;
}

.btn:hover {
    background-color: green;
    color: black;
}

h3 {
    position: absolute;
    top: 53%;
    left: 50%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    transform: translate(-50%, 100%);
    text-transform: uppercase;

}

#change:after {
    color: lime;
    content: "";
    /* border-right: 2px solid yellow; */
    overflow: hidden;
    animation: changeType 5s linear infinite;
    white-space: nowrap;
}

@keyframes changeType {
    0% {
        content: "Software Developer";

    }

    25% {
        content: "Youtuber";
    }

    50% {
        content: "Enthusiatic";
    }

    75% {
        content: "Blogger";
    }

    90% {
        content: "Web Developer";
    }

    100% {
        content: "Programmer";
    }
}

.headline {
    color: white;
    font-family: cursive;
}

#AboutMe {
    background-color: whitesmoke;
    height: 90%;
    background-attachment: fixed;
}

#content {
    height: 800px;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-size: 1.5rem;
    padding: 25px;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;

}


#image img {
    width: 25%;
    height: 50%;
    border-radius: 25%;
    float: right;
    padding: 30px;
}

#abouthead {
    text-align: center;
    font-size: 2rem;
}

#abouthead2 {
    color: blue;
}

.Projectsection {

    background: url(../Image/image3.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 2200px;
    padding:0px 40px;
}

.Projectsection h1 {
    text-align: center;
    color: white;
    font-size: 2rem;
    padding: 15px 0px;
}

.Projectsub{
    color:#fff;
    background-color: rgba(14, 105, 180, 1);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    /* padding:15px 20px; */
    /* border:2px solid rgba(14, 105, 180, 0.877); */
    border-radius: 20px;
    margin: 30px auto;
    /* text-shadow: 2px 2px 10px white; */
    letter-spacing: 1px;
}

.Projectsection .Projectsub .headline{

 
 color: #ffffff;
 font-size: 2rem;
 /* border:2px solid white; */
 /* display: inline-block; */
 font-weight: bolder;
 border-radius: 10px;
 font-family: 'Jost';
 background-color: blue;
 /* background-color: #ff5722;; */
 padding: 5px;
 margin: auto;
 width: 100%;
 text-shadow: 0 0 10px rgba(0,0,0,0.6);

}

.Projectsection .Projectsub .ProjectContent{
  
     padding: 5px;

}

.Projectsection .Projectsub .ProjectContent p{
    font-size: 1.2rem;
}



#backtotop{
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 50px;
    cursor: pointer;
    border-radius: 50%;
    color:black;
    z-index: 9;
    opacity: 0.6;
    background-color: #fff;
    display: none;
}


#Blogs{

    height: 100vh;
    width: 100%;
    /* background-color: #B53471;     */
    background-color: #0a183d;
    padding: 15px;
    background-attachment: fixed;
}
#Blogs h1{
    color: #ffffff;
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 1rem;
    word-spacing: 0.5rem;
    font-weight: bolder;
    font-family: 'Jost', sans-serif;
}

#Blogs .card{
    overflow: hidden;
    
}
#Blogs .details .img-container{
 
    height: 200px;
    
}

#Blogs .details .img-container .imgscale{
    height: 200px;
    object-fit: cover;

}

#Blogs .details .img-container .imgscale{
    transition:all 0.6s ease-in-out;
}

#Blogs .details .img-container .imgscale:hover{

   transform: scale(1.06);

}


#Blogs .details{
   
    /* margin:0px 5px; */
    background-color: #fff;
    height: auto;
    
    color: black;
    /* padding: 40px 30px; */
    position: relative;
    z-index: 22;
    
}


#Blogs .details .card-body{
    height: 270px;
}






#Blogs .details::before{
      
    content:"";
    width: 5px;
    height: 100%;
    background-color: #ff5722;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    transition: 0.6s all;


}

#Blogs .details:hover::before{

    width: 100%;
}
#Blogs .details h5{
    font-size: 1.1rem;
}

#Blogs .details:hover h5{
    color: #ffffff;
}

#Blogs .details:hover span{
    color:#ffffff;
}

#Blogs .details:hover p{
    color:#ffffff;
}

#Blogs .details:hover a{
    background-color: transparent;
    border-color: #ffffff;
}

#contact{
    position: relative;
    color:#fff;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background:linear-gradient(rgba(0,0,0,0.61),rgba(0,0,0,0.61)),url(../Image/contact4.jpg);
    background-attachment: fixed;
   
    

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input, 
#contact-box textarea{
    caret-color: #ff3f34;
    margin:2px;
    outline: none;
    border: none;
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
    box-shadow: 2rem 1rem 2rem -0.7rem rgba(0,0,0,0.4),rgba(255,255,255,1);
} 

#contact-box input:focus{
    box-shadow: 0 0 20px 10px red;
}
#contact-box textarea:focus{
 
     box-shadow: 0 0 20px 10px red;

}

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.7rem;
   font-family: 'Bree Serif', serif;

}
.h-unique
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    padding: 15px;
}
#contact #contact-head{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contact #contact-head img{
    border-radius: 50%;
    width:100px;
}


.btn3
{
    
    margin:10px auto;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 0.9rem;
    color:white;
    transition: all 1s ease-in-out;
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.btn3:hover
{
    background-color: green;
}

.btn4{
    /* background-color: #d63031 !important; */
    background-color: yellow !important;
    color:black !important;
}
.btn4:hover{
    background: transparent !important;
    border: 1px solid white;
    color:#ffffff !important;
}


#my-form-status
{
    color:black;
    font-size: 1.5rem;
    position: absolute;
    left:40%;
}


.percentage{
    opacity: 0;
}
.percentage:hover{
    cursor: pointer;
    opacity: 1;
}


footer {
    background: black;
    color: white;
    padding: 9px 20px;
    text-align: center;
    width: 100%;
}
footer h5{

    text-align: left;
    margin-bottom: 20px;
}
footer .footerlinks{
    display: block;
    text-align: left;
    color: rgba(255,255,255,0.5);
    margin:5px;
}

footer .footerlinks a{
    text-decoration: none;
    color: rgba(255,255,255,0.5);
  
}
footer .footerlinks a:hover{
    color:#d63031;
}

footer .footer-socialcontact{
    text-align: left;
    margin: 10px;
    display: flex;
    margin-left: auto;
}
footer .footer-socialcontact img{
    height: 30px;
    width: 30px;
}

footer .footer-contact{
    text-align: left;
    margin: 10px;
    display: flex;
    margin-left: auto;
}
footer .footer-contact span a{
    text-decoration: none;
    color:rgba(255,255,255,0.5);
}
footer .footer-contact span a:hover{

    color:#d63031;
}
footer .footer-contact span:last-child{
    color:rgba(255,255,255,0.5);
}

@media screen and (max-width: 780px) {
   

   #mainhead{
       margin-top: 100px;
       margin-bottom: 10px;
   } 
   #mainhead h1{
       font-size:3rem;
   } 

   #cookies{
       height: 60%;
       width: 80%;
   }
   
    #image img {
        width: 40%;
        height: 50%;
        border-radius: 100px;
        float: right;
        padding: 60px;
    }
    #content {

        font-size: 1rem;
        padding: 20px;
        text-align: left;
        height: 700px;
    }  
    

    h3
    {
        font-size: 1rem;
        left:50%;
    }
    
    
    .btn
    {
        font-size: 0.7rem;
    }
   
     
     .Projectsection{
        height: 2500px;
    }   

}

@media screen and (max-width:580px) {
    .Projectsection{
        height: 2750px;
    }
}

@media screen and (max-width: 480px)
{

    
    .Projectsection{
        height: 3200px;
    }  


    .h-unique{
      font-size: 1.2rem;
    }
    #contact-box form{
        width: 80%;
    }
}
@media screen and (max-width:450px){
    
    #quote{
        font-size: 1rem !important;
    }

    #Blogs .details h5{
        font-size: 1rem;
    }
    #mainhead{
        margin-top: 80px;
    }

    #mainhead h1{
        font-size: 2.5rem;
    }

    .logo{
        left:-10%;
        font-size: 1rem;
    }
    #cookies{
        height: 55%;
        width: 75%;
    }
    #cookies h4{
        font-size: 2rem;
    }


    #cookies p{
        font-size: 1.7rem;
    }

    #cookies .cookbtn{
        font-size: 1.3rem;
        padding: 8px;
    }
    
    #image img {
        width: 50%;
        height: 80%;
        border-radius: 100px;
        float: right;
        padding: 50px;
    }
    #AboutMe{
       height: 150%;
    }
    
    
    
     #ChangeContent h3{
        font-size: 1rem;
        position: absolute;
        top:55%;
     }
     
    #content {

        height: 1100px;
        padding: 15px;
        text-align: left;
    }
      
    .Projectsection{
        height: 3300px;
    }  

   
}
@media screen and (max-width:376px)
{
    

    #mainhead{
        margin-top: 70px;
    }

    #mainhead h1{
        font-size: 2.2rem;
    }

    #AboutMe{
        height: 100%;
    }
    #content{
        height: 1100px;
        padding: 15px;
    }
    #image img {
        width: 50%;
        height: 80%;
        border-radius: 100px;
        float: right;
        padding: 50px;
    }
  
   
    .btn3{
        margin: 10px;
        padding:10px 30px;
        width: 100%;
        font-size: 1rem;      
    }
    #ChangeContent h3{
        font-size: 1rem;
        position: absolute;
        top:60%;
     }
    .logo{
        font-size: 10px;
        left:-13%;
    }    
    .Projectsub{
        font-size: 1rem;
        
    }  

    .Projectsection{
        height: 3700px;
    }
    
   
}

@media screen and (max-width:340px)
{
    /* .Projectsection{
        height: 2800px;
    } */
}