* {
    margin: 0;
    padding: 0;
    /* new change */
    box-sizing: border-box;  
    
}

html {
    scroll-behavior: smooth;
    
    margin:0;
    overflow-x: hidden;
}
body
{
    position: relative;
    overflow-x: hidden;
}
#loader h1
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 500px;
    color:black;
    font-family: cursive;    

}
#loader
{
    position: fixed;
    width:100%;
    height:100vh;
    background:#fff url("https://i.pinimg.com/originals/ca/89/fb/ca89fbce5e5c68f46d5330946c58ddc6.gif") no-repeat center;
    background-size: cover;
    z-index: 99999;
}

.header {
    height: 100vh;
    background:  linear-gradient(rgba(0,0,0,0.61),rgba(0,0,0,0.61)),url(../Image/pic4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
}
.mainhead-super{
    position: relative;
    height: 100%;
}

#mainhead
{
    color:white;
    position: absolute;
    top:30%;
    left:25%;
    margin:0 auto;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: bolder;
    
    

}
.mainhead2{
    position: absolute;
    top:45%;
    left:30%;
    color:#fff;
}
.logo{
    position: absolute;
    top:35%;
    left:4%;
    font-size: 1.4rem;
    color:white;
}

.mango {
    
    color: white;
    position: absolute;
    left: 38%;
    top: 55%;
    font-size: 2rem;
    
    padding: 5px 10px;
    
    
    transition: all 10s ease-in;
    cursor: pointer;
    height: 20%;
    
}

.mango h1:hover {
    transform: scale(1.1);
    color: black;

}

#myNavbar{
    background: linear-gradient(300deg,#ff3f34,#B53471); 
    width: 100%;
}

.nav-link{
    text-transform: uppercase;
}




.Scrollbtn-main{
    padding: 5px;   
    width:10%;
}

.Scrollbtn{
    margin:auto;
    position: absolute;
    height: 50px;
    width: 50px;
    top:50%;
    left:50%;
    border: 2px solid white;
    
    transform: rotate(45deg);
    border-top:none;
    border-left: none;
    animation: animate 2s linear infinite;
    opacity: 0;
}
.Scrollbtn:nth-child(1){
    top:84%;
    animation-delay: 1s;
    
}
.Scrollbtn:nth-child(2)
{
   top:86%;
   animation-delay: 0.90s;
}
.Scrollbtn:nth-child(3){
    top:88%;
    animation-delay: 2s;
}
@keyframes animate{
    0%{
        top:84%;
        opacity: 1;
    }
    25%{
        top:86%;
        opacity: 1;
    }
   75%{
       top:88%;
       opacity: 1;
       
   }
   100%{
       top:88%;
       opacity: 0;
   }
}
/* Skills Section Css */
.container {

    width: 100%;
    /* background-color: blue; */
    /* padding:10px 20px; */
    margin: 0px auto;
    font-family: 'Josefin Sans', sans-serif;

}

.box {
    padding: 10px 10px;

}

.lined {
    font-weight: bolder;
    letter-spacing: 0.6rem;
    font-family: 'Poppins', sans-serif;


}

.lined-bottom {
    margin: 0 auto;
    border-bottom: 2px solid #2e86de;
    width: 20%;


}
.lined2{
    width: 15%;
}

.ml15{
    margin-left: auto;
}

.ptag{
    font-weight: bolder;
}







#skill2 img
{
    width: 25px;
    height:22px;
    filter: invert(100%);
    position: absolute;
    left:25%;
}
#Project2 img
{
    width:30px;
    height: 35px;
    filter: invert(100%);
    position: absolute;
    left:64%;
    top:30%;
}



.button {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    /* border: 1px solid #fff; */
    border-radius: 6px;
    padding: 15px 25px;
    color: #fff;
    text-decoration: none;
    transition: 0.6s ease-in-out;
    text-transform: uppercase;
    background-color: black;
}

.btn2 {
    font-family: 'Times New Roman', Times, serif;
    border-radius: 20px;
    padding: 8px 15px;
    color: black;
    text-decoration: none;
    transition: 0.6s ease-in-out;
    text-transform: uppercase;
    background-color:white;
    position: absolute;
    left: 22%;
    font-size: 1.2rem;
    text-shadow: 2px 2px 15px white;
    position: relative;
    
}
.btn2::before
{
    position: absolute;
    content: "";
    top:0;
    left:0;
    /* background: #d35400; */
    height: 100%;
    width:100%;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0.9);
    transition: .5s;
}
.btn2:hover::before
{  
    filter: blur(3px);
   
}
.btn2:hover {
    /* background-color: blue; */
    color:blue;
    box-shadow: 0 0 15px #fff;
    text-shadow: 0 0 15px #fff;
}

.btn:hover {
    background-color: green;
    color: black;
}

h3 {
    position: absolute;
    top: 53%;
    left: 50%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    transform: translate(-50%, 100%);
    text-transform: uppercase;

}

#change:after {
    color: lime;
    content: "";
    /* border-right: 2px solid yellow; */
    overflow: hidden;
    animation: changeType 5s linear infinite;
    white-space: nowrap;
}

@keyframes changeType {
    0% {
        content: "Software Developer";

    }

    25% {
        content: "Youtuber";
    }

    50% {
        content: "Enthusiatic";
    }

    75% {
        content: "Blogger";
    }

    90% {
        content: "Web Developer";
    }

    100% {
        content: "Programmer";
    }
}

.headline {
    color: white;
    font-family: cursive;
}

#AboutMe {
    background-color: whitesmoke;
    /* border: 2px solid black; */
    height: 90%;
    background-attachment: fixed;
}

#content {
    height: 800px;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-size: 1.5rem;
    padding: 25px;
    text-align: left;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;

}


#image img {
    width: 10%;
    height: 80%;
    border-radius: 130px;
    float: right;
    padding: 30px;
}

#abouthead {
    text-align: center;
    font-size: 2rem;
}

#abouthead2 {
    color: blue;
}

.Projectsection {

    background: url(../Image/image3.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 800px;
}

.Projectsection h1 {
    text-align: center;
    color: white;
    font-size: 2rem;
    padding: 15px 0px;
}

footer {
    background: black;
    color: white;
    padding: 9px 20px;
    text-align: center;
    width: 100%;
}

#backtotop{
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 50px;
    cursor: pointer;
    border-radius: 50%;
    color:black;
    z-index: 9;
    opacity: 0.6;
    background-color: #fff;
    display: none;
}



#contact{
    position: relative;
    color:#fff;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background:linear-gradient(rgba(0,0,0,0.61),rgba(0,0,0,0.61)),url(../Image/contact4.jpg);
    background-attachment: fixed;
   
    

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input, 
#contact-box textarea{
    caret-color: #ff3f34;
    margin:2px;
    outline: none;
    border: none;
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
    box-shadow: 2rem 1rem 2rem -0.7rem rgba(0,0,0,0.4),rgba(255,255,255,1);
} 

#contact-box input:focus{
    box-shadow: 0 0 20px 10px red;
}
#contact-box textarea:focus{
 
     box-shadow: 0 0 20px 10px red;

}

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.7rem;
   font-family: 'Bree Serif', serif;

}
.h-unique
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    text-align: center;
    padding: 15px;
}
#contact #contact-head{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contact #contact-head img{
    border-radius: 50%;
    width:100px;
}


.btn3
{
    
    margin:10px auto;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 0.9rem;
    color:white;
    transition: all 1s ease-in-out;
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.btn3:hover
{
    background-color: green;
}
.SocialMedia iframe
{
    position: absolute;
    /* left:4%; */
    top:65%;
    

}
.SocialMedia h1
{
    position: absolute;
    color:white;
    left:42%;
    top:65%;
    font-size: 2rem;
}
#my-form-status
{
    color:black;
    font-size: 1.5rem;
    position: absolute;
    left:40%;
}

.Projectsection{
    padding:0px 40px;
    
}
.Projectsub{
    color:#fff;
    background-color: rgba(14, 105, 180, 1);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    padding:15px 20px;
    border:2px solid rgba(14, 105, 180, 0.877);
    border-radius: 20px;
    margin: 20px auto;
    text-shadow: 2px 2px 10px white;
    letter-spacing: 1px;
}
.percentage{
    opacity: 0;
}
.percentage:hover{
    cursor: pointer;
    opacity: 1;
}


@media screen and (max-width: 780px) {
   
    .mainhead2{
        position: absolute;
        top:45%;
        left:20%;
        color:#fff;
    }
   
    #image img {
        width: 40%;
        height: 50%;
        border-radius: 100px;
        float: right;
        padding: 60px;
    }
    #content {

        font-size: 1rem;
        padding: 20px;
        text-align: left;
        height: 700px;
    }  
    
    .mango{
        font-size: 1rem;
        left:25%;
    }
    h3
    {
        font-size: 1rem;
        left:50%;
    }
    .btn2
    {
        font-size: 1rem;
        left:9%;
        top:30%;
    }
    
    .btn
    {
        font-size: 0.7rem;
    }
   
    #mainhead
    {
        left:17%;
        font-size: 1rem;
    }
    .SocialMedia h1{
        left:25%;
    }
    .Projectsection{
        height: 1200px;
    }  

}

@media screen and (max-width: 480px)
{

    .mainhead2{
        left:8%;
    }

    #mainhead
    {
        left:7%;
        font-size: 1rem;
    }
    
    
    .mango{
        left:8%;
        font-size: 0.8rem;
        padding: 20px  30px;
        width:60%;
    }
    .SocialMedia iframe
    {
        top:70%;
    }
    .SocialMedia h1{
        top:70%;
        left:12%;
    }
    .Projectsection{
        height: 1200px;
    }  


    .h-unique{
      font-size: 1.2rem;
    }
    #contact-box form{
        width: 80%;
    }
}
@media screen and (max-width:450px){
    
    
    .logo{
        left:-10%;
        font-size: 1rem;
    }
    
    #image img {
        width: 50%;
        height: 80%;
        border-radius: 100px;
        float: right;
        padding: 50px;
    }
    #AboutMe{
       height: 150%;
    }
    
    
    .mango{
    
        padding: 30px  35px;
        left:10%;
        width:70%;
        border: none;
        box-shadow: none;
        text-align: center;
        font-size: 1.2rem;
    }
     #ChangeContent h3{
        font-size: 1rem;
        position: absolute;
        top:55%;
     }
     .btn2{
        padding:7px 4px;
        font-size: 1rem;
        top:10%;
    }
     .btn2{
         left:2%;
     }
     .btn2:hover::before
    {  
    /* filter: blur(3px); */
      transform: scale(1);
    
    }
    #content {

        height: 1100px;
        padding: 15px;
        text-align: left;
    }
    .Projectsection{
        height: 1400px;
    }  
}
@media screen and (max-width:376px)
{
    .btn2{
        padding:10px 5px;
        font-size: 0.9rem;
        top:10%;
    }
    .mango{
        border:none;
        box-shadow: none;
        left:12%;
    }
    
    #mainhead{
        left:3%;
    }
    .mainhead2{
        left:2%;
    }

    #AboutMe{
        height: 100%;
    }
    #content{
        height: 1100px;
        padding: 15px;
    }
    #image img {
        width: 50%;
        height: 80%;
        border-radius: 100px;
        float: right;
        padding: 50px;
    }
    .Projectsection{
        height: 1800px;
    }
   
    .btn3{
        margin: 10px;
        padding:10px 30px;
        width: 100%;
        font-size: 1rem;      
    }
    #ChangeContent h3{
        font-size: 1rem;
        position: absolute;
        top:60%;
     }
    .logo{
        font-size: 10px;
        left:-13%;
    }    
    .Projectsub{
        font-size: 1rem;
        padding:5px 10px;
    }  
    
    
   
}

@media screen and (max-width:350px){
    .mango{
        left:12%;
        padding:10px 10px;
    }
    .btn2{
        top:40%;
    }
}